asgiref==3.2.7
Django==3.0.5
pytz==2020.1
sqlparse==0.3.1
Pillow==9.1.0
click==8.1.2
colorama==0.4.4
django-crispy-forms==1.14.0
django-widget-tweaks==1.4.8
PyYAML==6.0
six==1.15.0
turtle==0.0.1
tzdata==2022.1